{% extends "user_base/base_with_header.html" %}

{% block content %}
    <div id="main_container">
        <div class="form_container ">
          <div class="form">
            <div style="margin:auto;text-align: center">
              <span style="display: inline-block; font-size:20px; margin-top:30px">이메일을 인증하세요.</br></span>
              <div style="margin: 20px auto 20px auto;text-align: center;">
                <span style="font-size:15px; color: #787878">
                    요청한 주소로 이메일을 전송하였으니, 사용자 인증 진행해주시기 바랍니다.
                </span>
              </div>
              <a class="sign_user_btn_color" href="{% url 'index' %}">확인</a>
            </div>
          </div>
        </div>
      </div>  
{% endblock content %}