{% extends "user_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 재설정 | Sparkling Coffee Club{% endblock title %}

{% block content %}

<div id="main_container">
  <div class="form_container ">
    <div class="form">
      <div style="margin:auto;text-align: center">
        <div class="sign_up_text">
          <br>
        비밀번호 변경을 해주세요
        </div>
        <br>
        <form method="post">
          {% csrf_token %}
          <div>
            {{ form.password1|add_class:"cp-input"|attr:"placeholder:새 비밀번호"|add_error_class:"error" }}
            {% for error in form.password1.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
          <p>
          <div>
            {{ form.password2|add_class:"cp-input"|attr:"placeholder:새 비밀번호 확인"|add_error_class:"error" }}
            {% for error in form.password2.errors %}
              <div class="error-message">{{ error }}</div>
            {% endfor %}
          </div>
          <input type="submit" id="submit_btn" value="비밀번호 변경" class="submit_btn">
        </form>
      </div>
    </div>
  </div>
</div>  



{% endblock content %}
