{% extends "user_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 찾기 | Sparkling Coffee Club{% endblock title %}

{% block content %}

<div id="main_container">
  <div class="form_container ">
    <div class="form">
      <div class="title_cover" style="margin: 20px auto 20px auto; text-align:center">
        <a style="display: inline-block; font-size:20px;"href="{% url 'account_login'%}"><h1 class="sprite_lock_icon"></h1></a>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="logo_box">
        </div>
        <div class="pw_question_container"style="margin: 20px auto 20px auto;text-align: center;">
          <span style="display: inline-block; font-size:20px;">로그인에 문제가 있나요?</br></span>
        </div>
        <div style="margin: 20px auto 20px auto;text-align: center;">
          <span style="font-size:15px; color: #787878">이메일 주소을 입력하시면 계정에 다시 액세스할 수 있는 링크를 보내드립니다.</span>
        </div>
        <div>
          {{ form.email|add_class:"cp-input"|attr:"placeholder:이메일"|add_error_class:"error" }}
          {% for error in form.email.errors %}
            <div class="error-message">
              {{ error }}
            </div>
          {% endfor %}
        </div>
        <button class="submit_btn" type="submit">로그인 링크 보내기</button>
      </form>
      <hr>
      <div style="margin: 20px auto 20px auto;text-align: center;">
        <a class="signup_color" href="{% url "account_signup"%}">새 계정 만들기</a>
      </div>
    </div>

    <div class="bottom_box" style="height:70px">
      <div style="margin:auto;text-align: center">
        <a class="sign_user_btn_color" href="{% url "account_signup"%}">로그인으로 돌아가기</a>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
