{% extends "user_base/base_with_header.html" %}

{% block content %}

<div id="main_container">
  <div class="form_container ">
    <div class="form">
      <div style="margin:auto;text-align: center">
        <span style="display: inline-block; font-size:20px; margin-top:30px">이메일 전송됨</br></span>
        <div style="margin: 20px auto 20px auto;text-align: center;">
          <span style="font-size:15px; color: #787878">
            계정에 다시 로그인할 수 있는 링크가 포함된 메일을 전송해드렸습니다.
          </span>
        </div>
        <a class="sign_user_btn_color" href="{% url 'index' %}">확인</a>
      </div>
    </div>
  </div>
</div>  
{% endblock content %}
