{% extends "post_base/base_detail_with_header.html" %}

{% block title %}상세페이지 | Sparkling Coffee Club{% endblock title %}

{% block content %}
    <div id="main_container">

        <section class="b_inner">

            <div class="contents_box">

                <article class="contents cont01">

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{{ post.image.url }}" alt=""></div>
                        </div>
                    </div>


                    <div class="detail--right_box">

                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <a href="{% url 'profile' post.author.id %}">
                                        <img src="{{ post.author.profile_image.url }}" alt="프로필 사진">
                                    </a>
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">{{post.author.username}}</div>
                                    <div class="country">Seoul, South Korea</div>
                                </div>
                            </div>
                        {% if post.author == user %}
                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="팔로우" data-name="follow"></li>
                                    <li><a href="{% url 'post-update' post.id %}">수정</a></li>
                                    <li><a href="{% url 'post-delete' post.id %}">삭제</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="sprite_more_icon" data-name="more">
                                <ul class="toggle_box">
                                    <li><input type="submit" class="follow" value="팔로우" data-name="follow"></li>
                                </ul>
                            </div>
                        {% endif %}

                        </header>

                        <section class="scroll_section">
                            <div class="admin_container">
                                <div class="admin">
                                    <a href="{% url 'profile' post.author.id %}">
                                        <img src="{{ post.author.profile_image.url }}" alt="user">
                                    </a>
                                </div>
                                <div class="comment">
                                    <span class="user_id">{{ post.author.username }}</span>{{ post.content }}
                                    <div class="time">{{ post.created_at }}</div>
                                </div>
                            </div>

                            <div class="user_container-detail">
                                <div class="user"><img src="imgs/thumb02.jpg" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">in0.lee</span>너무귀엽네요 ㅎㅎㅎ맞팔해요~!
                                    <div class="time">2시간 <span class="try_comment">답글 달기</span></div>
                                    <div class="icon_wrap">
                                        <div class="more_trigger">
                                            <div class="sprite_more_icon"></div>
                                        </div>
                                        <div>
                                            <div class="sprite_small_heart_icon_outline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user_container-detail">
                                <div class="user"><img src="imgs/thumb03.jpg" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">ye_solkim</span>강아지 이름이 뭐에요???
                                    <div class="time">2시간 <span class="try_comment">답글 달기</span></div>
                                    <div class="icon_wrap">
                                        <div class="more_trigger">
                                            <div class="sprite_more_icon"></div>
                                        </div>
                                        <div>
                                            <div class="sprite_small_heart_icon_outline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user_container-detail">
                                <div class="user"><img src="imgs/thumb02.jpg" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">in0.lee</span>너무귀엽네요 ㅎㅎㅎ맞팔해요~!
                                    <div class="time">2시간 <span class="try_comment">답글 달기</span></div>
                                    <div class="icon_wrap">
                                        <div class="more_trigger">
                                            <div class="sprite_more_icon"></div>
                                        </div>
                                        <div>
                                            <div class="sprite_small_heart_icon_outline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user_container-detail">
                                <div class="user"><img src="imgs/thumb03.jpg" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">in0.lee</span>너무귀엽네요
                                    <div class="time">2시간 <span class="try_comment">답글 달기</span></div>
                                    <div class="icon_wrap">
                                        <div class="more_trigger">
                                            <div class="sprite_more_icon"></div>
                                        </div>
                                        <div>
                                            <div class="sprite_small_heart_icon_outline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user_container-detail">
                                <div class="user"><img src="imgs/thumb02.jpg" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">in0.lee</span>너무귀엽네요 ㅎㅎㅎ맞팔해요~!
                                    <div class="time">2시간 <span class="try_comment">답글 달기</span></div>
                                    <div class="icon_wrap">
                                        <div class="more_trigger">
                                            <div class="sprite_more_icon"></div>
                                        </div>
                                        <div>
                                            <div class="sprite_small_heart_icon_outline"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>


                        <div class="bottom_icons">
                            <div class="left_icons">
                                <div class="heart_btn">
                                    <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                                </div>
                                <div>
                                    <div class="sprite_bubble_icon"></div>
                                </div>
                                <div>
                                    <div class="sprite_share_icon" data-name="share"></div>
                                </div>
                            </div>

                            <div class="right_icon">
                                <div class="sprite_bookmark_outline" data-name="book-mark"></div>
                            </div>
                        </div>

                        <div class="count_likes">
                            좋아요
                            <span class="count">2,351</span>
                            개
                        </div>
                        <div class="timer">2시간</div>

                        <div class="commit_field">
                            <input type="text" placeholder="댓글달기..">

                            <div class="upload_btn">게시</div>
                        </div>



                    </div>


                </article>


            </div>


        </section>

    </div>


    <div class="del_pop">
        <div class="btn_box">
            <div class="del">삭제</div>
            <div class="cancel">취소</div>
        </div>
    </div>

    </section>
{% endblock content %}
